/* .Banner{
    color: white;
    object-fit: contain;
    background-image: url("../../assets/image/banner.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.contents{
    padding-left: 15px;
    padding-top:  330px;
}
.logoImg{
    width:150px;
}
.title{
    font-size: 3rem;
;
line-height:1.3;
padding-top: .5rem;
max-width:740px;
height:80px;}
.buttonContainer{
display: flex;
gap:1rem;
margin-bottom: 1 rem;

}
.button  */
